
[package]
name = 'town'
version = '0.1.0'
edition = '2021'

[dependencies]
wasm-bindgen = '0.2'
js-sys = '0.3'
web-sys = { version = '0.3', features = [
	'Window',
] }
console_error_panic_hook = { version = '0.1.6', optional = true }
wee_alloc = { version = '0.4', optional = true }
bevy_ecs_ldtk = { git = "https://github.com/Trouv/bevy_ecs_ldtk.git", rev = "d99f1ae7eec28114d9277e5c5063418234fcc261" }

[dependencies.bevy]
version = "0.10.1"
default-features = false
features = [
  "bevy_asset",
  "png",
  "bevy_winit",
  "bevy_text",
  "bevy_ui",
  "bevy_render",
  "bevy_sprite",
  "bevy_core_pipeline"
]


[lib]
crate-type = ["cdylib", "rlib"]
path = "src/main.rs"

[[bin]]
name = "devbin"
path = "src/main.rs"

[feature]
default = [
	'console_error_panic_hook',
]

[dev-dependencies]
wasm-bindgen-test = '0.3'


